/* This is for BASE rulse */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  background-color: var(--second-white--color);
}

html {
  font-size: 62.5%;
}

/* This is for THEMES */
:root {
  --main-color: #4b31ec;
  --second-main--color: rgb(190, 116, 201);
  --third-main--color: rgb(48, 191, 163);
  --main-white--color: #fff;
  --main-black--color: #313131;
  --second-white--color: rgb(241, 245, 255);
  --indicators-color: #bbb;
}

/* This is for LAYOUTS */
.container {
  padding: 1rem 2rem .2rem 2rem;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--third-main--color);

}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10px;
  min-height: 40px;
}



/* This is for NAVBAR section */

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  background-color: var(--main-white--color);
  padding: .8rem 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--main-black--color);

  & li {
    list-style: none;
    text-align: center;
    color: var(--main-color);
  }
}

/* Container to crop the video */
.video-crop-container {
  width: 220px;
  height: 60px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

/* Video styling */
.nav-logo video {
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
  position: absolute;
  top: 40%;
  left: 48%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: auto;
}

.nav-search--input {
  background-color: var(--second-white--color);
  width: 40%;
  text-align: center;
  gap: 1rem;

  & i {
    font-size: 2rem;
    padding: .6rem 1rem;
    color: var(--main-color);
  }

}

.nav-search--input input::placeholder {
  color: var(--main-black--color);
  font-size: 1.5rem;
  letter-spacing: .1rem;
  opacity: .8;
}

.search {
  width: 90%;
  padding: 1rem 0 1rem .5rem;
  border: none;
  outline: none;
  background-color: transparent;

}

.nav-items ul {
  display: flex;
  gap: 4.5rem;
  font-size: 2rem;

  & i {
    margin-right: 1rem;
  }

  & .angle-arrow {
    rotate: 180deg;
    margin-left: .4rem;
  }
}

@media (max-width:1150px) {
  .navbar {
    padding: 1rem 4rem;
  }

  .nav-search--input {
    gap: .5rem;

    & i {
      padding-left: .2rem;
      font-size: 1.4rem;
    }
  }

  .nav-search--input input::placeholder {
    font-size: 1rem;
  }

  .nav-items ul {
    gap: 2.5rem;
    /* font-size: 1rem; */

    & i {
      margin-right: 1rem;
    }
  }

  .icons-text {
    display: none;
  }
}

@media (max-width:750px) {
  .navbar {
    padding: 1rem 2rem;
    justify-content: space-between;
  }

  .video-crop-container {
    height: 30px;
    width: 150px;
  }

  .nav-logo video {
    width: 250px;
  }

  .nav-search--input {
    position: absolute;
    top: 6.5rem;
    left: 50%;
    transform: translate(-50%, 0);
    width: 70%;
    background-color: var(--main-white--color);
  }

  .search {
    padding: 1.2rem 0 1.2rem .5rem;
  }
}

@media (max-width:450px) {
  .nav-items ul {
    /* gap: 1rem; */

    & i {
      margin-right: .5rem;
    }
  }

  .navbar {
    padding: .6rem;
  }

  .nav-search--input {
    top: 5.5rem;
  }
}

@media (max-width:350px) {
  .nav-items ul {
    gap: .6rem;
    text-align: center;
  }

  .nav-items ul {
    & .angle-arrow {
      margin-left: .1rem;
    }
  }

}


/* This is for main top sections */

.main-top {
  width: 100%;
  display: flex;
  overflow-x: auto;
  align-items: center;
  justify-content: center;
  background-color: var(--main-white--color);
  gap: 4rem;
  padding: 1rem;
}

.main-top::-webkit-scrollbar {
  display: none;
}

.main-top--container {
  width: 80px;
  height: 70px;
  overflow: hidden;
}

.items {
  text-align: center;
}

.main-top--img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.main-top--title {
  display: inline-block;
  padding: .5rem 0;
  font-size: 1.5rem;
  font-weight: 600;
}

@media (max-width:750px) {
  .main-top {
    margin-top: 5.5rem;
  }

  .main-top--container {
    width: 50px;
    height: 40px;
  }

  .main-top--title {
    font-size: 1rem;
  }
}


/* This is for main slider section  */
.slider-container {
  width: 100%;
  height: auto;
  margin-top: 1rem;
  overflow: hidden;
  position: relative;
}

.slider-track {
  /* height: 35rem; */
  height: 100%;
  position: relative;
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider {
  min-width: 100%;
}

.slider img {
  width: 100%;
  object-fit: contain;
  object-position: center;

}

.slider-nav {
  position: absolute;
  height: 30%;
  width: 3%;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--main-white--color);
  color: var(--main-black--color);
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 2rem;
  z-index: 999;
}


.slider-nav:hover::before {
  border-color: #ff0000;
  /* Change color on hover */
}

.slider-nav.prev {
  left: 0px;
}

.slider-nav.next {
  right: 0px;
}

.main-slider--section {
  color: red;
}

.indicator-dots {
  display: flex;
  justify-content: center;
  /* margin-top: 1rem; */
}

.indicator {
  width: 1.2rem;
  height: 1.2rem;
  margin: 1rem;
  background-color: var(--indicators-color);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3 ease-in-out;
}

.indicator.active {
  background-color: var(--main-color);
}

@media (max-width:1100px) {
  .slider-container {
    height: auto;
  }

  .slider-nav {
    height: 55%;
    width: 4%;
    padding: .5rem;
  }
}

@media (max-width:750px) {
  .indicator {
    margin: .5rem .6rem;
  }

  .indicator {
    width: .8rem;
    height: .8rem;
  }

  .slider-nav {
    height: 45%;
    width: 5%;
    padding: .5rem;
  }

}



/* This is for items-1  */
.items-1 {
  background-color: var(--main-white--color);
  padding: 1rem 2rem;
  display: flex;
  gap: 2rem;
  width: 100%;
  overflow-x: auto;
}

.items-1::-webkit-scrollbar {
  display: none;
}

.item-1 {
  background-color: var(--second-white--color);
  padding: 1.5rem;
}

.item-1--image {
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  /* background-color: red; */
  width: 160px;
}

.item-1--image img {
  width: 100%;
}

.item-1-details {
  color: var(--main-black--color);
  padding: 0 2rem;
}

.item-1-details .detail {
  font-size: 1.6rem;
  letter-spacing: 1.5px;
  opacity: .8;
}

.detail-span {
  color: black;
  font-weight: 900;
  font-size: 1.6rem;
  letter-spacing: 1.5px;
}

.up-to {
  display: flex;
  align-items: center;
  gap: .5rem;
  margin-top: 1rem;
  font-size: 1rem;
  position: relative;

  & .upto {
    opacity: .8;
  }
}

.offValue {
  font-size: 3rem;
  font-weight: 600;
  padding-bottom: 4px;
  color: var(--second-main--color);

  & sup {
    font-size: 1rem;
  }
}

.item-1--arrow {
  background-color: rgb(48, 191, 163);
  padding: 8px;
  border-radius: 50%;
  color: var(--main-white--color);
  position: absolute;
  top: 10%;
  right: 1%;
}

@media (max-width:768px) {
  .item-1--image {
    width: 150px;
  }

  .item-1-details .detail {
    font-size: 1.2rem;
  }

  .detail-span {
    font-size: 1.2rem;
  }

  .up-to {
    font-size: .8rem;
  }

  .offValue {
    font-size: 2.5rem;
  }
}